

body {
  margin: 0;
  font-family: cgcloud-webfont;
  text-align: center;
  
}


/* Navbar */


.navLink {
  color: rgb(169,170,173) !important;
  font-size: 1.2em;
}

.navbar {
  background-color: #3a4b6e;
  display: flex;
  padding-left: 1vw;
  // height: 11vh !important;
  margin-bottom: 1vh;
}


/* Welcome text */

.welcomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcomePage h1{
  color: rgb(229,46,44);
  margin-top: 5vh;
}

.welcomePageText {
  max-width: 80vw;
  margin: 2vh 0 5vh 0;
}


/* Compliance Section */

.complianceMobile {
  display: none;
}


.gambleAware {
  display: flex;
  flex-direction: column;
  max-width: 95%;
}

.container {
  max-width: 85vw;
}

.funStops {
  max-width: 25vw;
}
.licenseText {
  margin: 0  ;
}

.complianceTable {
  margin-bottom: 5vh; 
}

#more {
  display:none;
}



/* .complianceCollumns {
  display: flex;
  width: 33%;
  margin: 0px 10px 0px 20px;
} */

/* Footer section */

.footer {
  min-width: 100vw; 
  background-color: #3a4b6e;  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  h4 {
    margin: .3vh;
  }
  padding-bottom: 0.5vh;

}



.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

.footer>*:last-child {
  align-self: flex-end;
  margin-right: 5vw;
}
.footer>*:first-child {
  margin-left: 5vw;
}

.contactUsText {
  font-size: .8em;
}

.checkUsOutIcon {
  font-size: 2em;
}

.footerLinkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkedInLink {
  margin-right: 2vw;
}

/* modal */

.modal-body {
  font-size: 0.8em;
  display: flex;
  flex-direction: column;

  p{
    margin-bottom: 0.8vh;
  }
  ul{
    margin-bottom: 0.8vh;
  }
  .cookiesListHeader{
    font-size: 1em;
    font-weight: bold;
    align-self: flex-start;
  }
}

.modal-header {
  padding: 1.5% !important;
}

/* video */
.video-js {
  width: 80vw;
  height: auto;
  aspect-ratio: 16 / 9;
}


.vjs-theme-fantasy {
  --vjs-theme-fantasy--primary: rgb(169,170,173) !important;
  --vjs-theme-fantasy--secondary: #fff;
}

/* Responsive section */

/*Mobile */

@media screen and (max-width: 500px){

  /* Compliance */

  .complianceTable {
  display: none;
  }
  .complianceMobile {
    display: block;
    min-width: 90vw;
  }

  .funStops {
    max-width: 80vw;
  }

  .mobileComplianceText {
    word-wrap: break-word
  }
  .mobileComplianceText div {
  max-width: 80vw;  }

    /*Footer*/
  .footerLinkContainer {

    a {
        font-size: 1.2em;
    }
  
    padding: 0 0 0 2vw
  }

  .copyRightFooter {
    word-wrap: break-word;
    max-width: 30vw;
  }

  .container{ 
    padding: 0;
  }

  .footer {
    h4{
      font-size: 1.2em;
      font-weight:500;
    }

  }

  .footer>*:last-child {
    align-self: flex-end;
    margin-right: -2.5vw;
  }
  .footer>*:first-child {
    margin-left: -1vw;
  }

  .link-button {
    font-size: 0.8em;
  }

  .copyRightFooter{
    font-size: 0.75em;

  }

  
}



/*Mobile*/
@media screen and (max-width: 700px){

  /* Compliance*/
  
  .complianceTable {
    display: none;
  }
  .complianceMobile {
    display: block;
  }
  .funStops {
    max-width: 80vw;
  }


}

/*Footer*/

/* Larger mobile / small ipad*/
@media screen and (max-width: 900px){

  /* Compliance */
  
  .complianceTable {
    display: none;
  }
  .complianceMobile {
    display: block;
  }
  .complianceMobile .col p{
    width: 60vw;
  } 
  .funStops {
    max-width: 60vw;
  }
  .row {
    justify-content: center;
  }

  /*Footer*/

}


/*Ipad*/
@media screen and (max-width: 1200px){

/*compliance*/
  .CGLicence{
    max-width: 30vw;
    word-wrap: break-word;
  }

  /*Footer*/

}



